.contact-wrapper {
  background-image: url("../assets/images/hero-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 2;
  }
}

.contact {
  padding-top: rem(90px);
  padding-bottom: rem(90px);
  position: relative;
  z-index: 3;

  h3 {
    color: $pelorous;
    font-size: rem(40px);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: rem(40px);
  }

  h4 {
    color: $gray;
    font-size: rem(20px);
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }

  p,
  a {
    font-size: rem(18px);
    line-height: 1.666666667;
    letter-spacing: 0.36px;
    color: $dark-gray;
  }

  &__details,
  &__form {
    background-color: $white;
    padding: rem(35px) rem(30px) rem(40px) rem(30px);
  }

  &__details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(lg) {
      padding-left: rem(85px);
      padding-right: rem(85px);
    }
  }

  &__details-item {
    background-color: #f0f0f0;
    width: 100%;
    padding: rem(17.5px);
    margin-bottom: rem(25px);

    &:last-child {
      margin-bottom: 0;
      padding: rem(25px) rem(17.5px);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    .row {
      margin-bottom: rem(25px);

      div {
        margin-bottom: rem(20px);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    h3 {
      text-align: center;

      @include media-breakpoint-up(lg) {
        align-self: flex-start;
      }
    }

    input {
      margin-bottom: rem(10px);
    }

    input,
    textarea {
      background-color: #f0f0f0;
      border: 0;
      padding: rem(15px);
      width: 100%;
      font-size: rem(18px);
      line-height: $line-height-base;
      letter-spacing: 0.36px;
      transition: all 0.3s ease-in-out;
    }

    input:focus,
    textarea:focus {
      box-shadow: 0 0 5px rgba(50, 180, 182, 1);
    }

    textarea {
      resize: none;
    }

    label {
      color: #fa3939;
      font-family: $primary-font-family;
      font-size: rem(14px);
    }
  }

  &__icon {
    fill: $pelorous;
    width: 30px;
    height: 30px;
    margin-bottom: rem(5px);
  }

  .btn {
    @include media-breakpoint-up(md) {
      align-self: flex-start;
    }
  }
}
