.cta-wrapper {
  background-image: url("../assets/images/hero-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(50, 180, 182, 0.9);
    z-index: 2;
  }
}

.cta {
  padding-top: rem(110px);
  padding-bottom: rem(110px);
  z-index: 3;
  position: relative;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  h3 {
    color: $white;
    font-size: rem(35px);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    letter-spacing: 0.7px;
    margin-bottom: rem(20px);
  }

  p {
    color: $white;
    font-size: rem(20px);
    font-weight: $font-weight-light;
    letter-spacing: 0.4px;
  }

  .btn {
    @include media-breakpoint-down(md) {
      margin-top: rem(25px);
    }
  }

  .row div:first-child {
    @include media-breakpoint-up(md) {
      margin-left: rem(65px);
    }
  }

  .row div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(md) {
      margin-right: rem(65px);
      align-items: flex-end;
    }
  }
}
