.footer {
  width: 100%;
  height: 100%;
  min-height: 80px;
  background-color: $pelorous;
  color: $white;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    font-size: rem(14px);
  }

  .container {
    @include media-breakpoint-down(lg) {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
    }
  }

  &__links {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      justify-content: center;
      padding-bottom: rem(20px);
    }
  }

  &__link {
    margin-right: rem(30px);

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: $white;
      width: 20px;
      height: 20px;
      transition: all 0.2s ease-in-out;

      &:hover {
        fill: lightgray;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }
}
