#cta.cta-wrapper.section
  .cta.container
    .row
      .col-12.col-md
        h3 Haith Landing Template
        p Lorem ipsum dolor sit amet, consectetur adipisicing.
      .col-12.col-md
        a.btn.btn--color-white.btn--size-big(href='#', target='_blank') Purchase now
