.footer
  .container
    .row
      .col-12.col-lg-6.footer__links
        a.footer__link(href='#', target='_blank')
          svg
            use(href='./assets/svg/brands.svg#facebook-f')
        a.footer__link(href='#', target='_blank')
          svg
            use(href='./assets/svg/brands.svg#twitter')
        a.footer__link(href='#', target='_blank')
          svg
            use(href='./assets/svg/brands.svg#linkedin-in')
        a.footer__link(href='#', target='_blank')
          svg
            use(href='./assets/svg/brands.svg#dribbble')
        a.footer__link(href='#', target='_blank')
          svg
            use(href='./assets/svg/brands.svg#github')
      .col-12.col-lg-6.footer__copyright © coderTheme All Right Reserved 2019
