header.header-wrapper
  .header.container
    a(href='#home')
      img(src='./assets/images/haith_logo.png' alt='Company logo')
    nav.nav-container
      ul#navigation.nav
        li
          a.active(href='#home') Home
        li
          a(href='#about') About
        li
          a(href='#services') Services
        li
          a(href='#gallery') Gallery
        li
          a(href='#price') Price
        li
          a(href='#testimonials') Testimonials
        li
          a(href='#blog') Blog
        li
          a(href='#team') Team
        li
          a(href='#contact') Contact
    button.toggle-nav
      span
