#home.hero.section
  .hero__slider
    .hero__slide
      .hero__slide-content.container-fluid
        h1
          | We are creative 
          span agency
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quas!
          br
          | Etiam pretium sodales risus eget sollicitudin.
        .hero__slide-buttons
          a.btn.btn--text-uppercase.btn--text-semibold(href='#', target='_blank') Get started
          a.btn.btn--color-transparent.btn--text-uppercase.btn--text-semibold(href='#', target='_blank') Learn more
      img.hero__slide-bg(src='./assets/images/hero-1.jpeg', alt='Slide background')
    .hero__slide
      .hero__slide-content.container-fluid
        h1
          | We are creative 
          span people
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quas!
          br
          | Etiam pretium sodales risus eget sollicitudin.
        .hero__slide-buttons
          a.btn.btn--text-uppercase.btn--text-semibold(href='#', target='_blank') Get started
          a.btn.btn--color-transparent.btn--text-uppercase.btn--text-semibold(href='#', target='_blank') Learn more
      img.hero__slide-bg(src='./assets/images/hero-2.jpeg', alt='Slide background')
    .hero__slide
      .hero__slide-content.container-fluid
        h1
          | We are creative 
          span designers
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quas!
          br
          | Etiam pretium sodales risus eget sollicitudin.
        .hero__slide-buttons
          a.btn.btn--text-uppercase.btn--text-semibold(href='#', target='_blank') Get started
          a.btn.btn--color-transparent.btn--text-uppercase.btn--text-semibold(href='#', target='_blank') Learn more
      img.hero__slide-bg(src='./assets/images/hero-3.jpg', alt='Slide background')
  .hero__arrow-prev
    svg
      use(href='./assets/svg/solid.svg#chevron-left')
  .hero__arrow-next
    svg
      use(href='./assets/svg/solid.svg#chevron-right')
