#about.intro.container.section
  .row
    .col-12.col-lg
      a(href='#', target='_blank')
        img(src='./assets/images/intro-1.jpeg', alt='Intro image')
    .intro__content.col-12.col-lg
      a(href='#', target='_blank')
        h3 We Are a Totally Integrated Creative Design Agency
      p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis cumque corrupti quia ullam sapiente atque, tempora, illo magni quos, reprehenderit id sint fuga praesentium eos. Labore placeat sunt pariatur, repellendus sit, incidunt a rerum architecto officiis, quod quidem voluptatibus necessitatibus saepe esse blanditiis perspiciatis impedit expedita accusantium facilis. Quam sed in eveniet ex distinctio perferendis quod nulla ipsa, ullam dignissimos voluptatum non. Provident, aut et!
      a.btn.btn--text-uppercase(href='#', target='_blank') See more
