#blog.latest-blog.container.section
  h2
    span Our latest blog
  .latest-blog__item.row
    .col-12.col-lg
      a(href="#", target="_blank")
        img(src='./assets/images/blog-1.jpeg', alt='Intro image')
    .col-12.col-lg.latest-blog__content
      a(href="#", target="_blank")
        h3 We Are a Totally Integrated Creative Design Agency
      ul.latest-blog__meta
        li
          a(href="#", target="_blank")
            svg
              use(href='./assets/svg/solid.svg#calendar-alt')
            | Feb 21, 2019
        li
          a(href="#", target="_blank")
            svg
              use(href='./assets/svg/solid.svg#user')
            | Admin
        li
          a(href="#", target="_blank")
            svg
              use(href='./assets/svg/solid.svg#comments')
            | Comments
      p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis cumque corrupti quia ullam sapiente atque, tempora, illo magni quos, reprehenderit id sint fuga praesentium eos. Labore placeat sunt pariatur, repellendus sit, incidunt a rerum architecto officiis, quod quidem voluptatibus necessitatibus saepe esse blanditiis perspiciatis impedit expedita accusantium facilis. Quam sed in eveniet ex distinctio perferendis quod nulla ipsa, ullam dignissimos voluptatum non. Provident, aut et!
      a.btn(href='#', target='_blank') Read More
  .latest-blog__item.row
    .col-12.col-lg.order-lg-last
      a(href="#", target="_blank")
        img(src='./assets/images/blog-2.jpeg', alt='Intro image')
    .col-12.col-lg.latest-blog__content
      a(href="#", target="_blank")
        h3 We Are a Totally Integrated Creative Design Agency
      ul.latest-blog__meta
        li
          a(href="#", target="_blank")
            svg
              use(href='./assets/svg/solid.svg#calendar-alt')
            | Feb 21, 2019
        li
          a(href="#", target="_blank")
            svg
              use(href='./assets/svg/solid.svg#user')
            | Admin
        li
          a(href="#", target="_blank")
            svg
              use(href='./assets/svg/solid.svg#comments')
            | Comments
      p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis cumque corrupti quia ullam sapiente atque, tempora, illo magni quos, reprehenderit id sint fuga praesentium eos. Labore placeat sunt pariatur, repellendus sit, incidunt a rerum architecto officiis, quod quidem voluptatibus necessitatibus saepe esse blanditiis perspiciatis impedit expedita accusantium facilis. Quam sed in eveniet ex distinctio perferendis quod nulla ipsa, ullam dignissimos voluptatum non. Provident, aut et!
      a.btn(href='#', target='_blank') Read More
