#partners.partners.container.section
  a(href='#', target='_blank')
    img(src='./assets/images/brand-1.png', alt='Brand logo', target='_blank')
  a(href='#', target='_blank')
    img(src='./assets/images/brand-2.png', alt='Brand logo', target='_blank')
  a(href='#', target='_blank')
    img(src='./assets/images/brand-3.png', alt='Brand logo', target='_blank')
  a(href='#', target='_blank')
    img(src='./assets/images/brand-4.png', alt='Brand logo', target='_blank')
  a(href='#', target='_blank')
    img(src='./assets/images/brand-5.png', alt='Brand logo', target='_blank')
