#price.pricing-table.container.section
  h2
    span Pricing table
  .row
    .col-12.col-md-6.col-lg-3
      .pricing-table__item
        .pricing-table__item-head
          h3 Basic
          .pricing-table__cost
            p $19
            span per month
        .pricing-table__item-body
          ul
            li 1 Users
            li.not-included Email Support
            li.not-included Extra Plugins Features
            li.not-included Unlimited Workspace
            li 24/7 support
          a.btn.btn--size-small.btn--text-uppercase.btn--text-bold(href='#', target='_blank') Buy plan
    .col-12.col-md-6.col-lg-3
      .pricing-table__item
        .pricing-table__item-head
          h3 Standard
          .pricing-table__cost
            p $39
            span per month
        .pricing-table__item-body
          ul
            li 1 Users
            li Email Support
            li.not-included Extra Plugins Features
            li.not-included Unlimited Workspace
            li 24/7 support
          a.btn.btn--size-small.btn--text-uppercase.btn--text-bold(href='#', target='_blank') Buy plan
    .col-12.col-md-6.col-lg-3
      .pricing-table__item
        .pricing-table__item-head
          h3 Premium
          .pricing-table__cost
            p $69
            span per month
        .pricing-table__item-body
          ul
            li 1 Users
            li Email Support
            li.not-included Extra Plugins Features
            li Unlimited Workspace
            li 24/7 support
          a.btn.btn--size-small.btn--text-uppercase.btn--text-bold(href='#', target='_blank') Buy plan
    .col-12.col-md-6.col-lg-3
      .pricing-table__item
        .pricing-table__item-head
          h3 Platinum
          .pricing-table__cost
            p $99
            span per month
        .pricing-table__item-body
          ul
            li 1 Users
            li Email Support
            li Extra Plugins Features
            li Unlimited Workspace
            li 24/7 support
          a.btn.btn--size-small.btn--text-uppercase.btn--text-bold(href='#', target='_blank') Buy plan
