#team.team-wrapper.section
  .team.container
    h2
      span Our awesome team
    .row.team__members
      .col-4
        a.team__member(href='#', target='_blank')
          .team__member-photo
            img(src='./assets/images/team-1.jpeg', alt='Team member')
            .photo-overlay
              svg.photo-overlay__icon
                use(href='./assets/svg/solid.svg#link')
          .team__personal
            p.team__member-name Mary Baker
            p.team__member-title Creative Director
      .col-4
        a.team__member(href='#', target='_blank')
          .team__member-photo
            img(src='./assets/images/team-2.jpeg', alt='Team member')
            .photo-overlay
              svg.photo-overlay__icon
                use(href='./assets/svg/solid.svg#link')
          .team__personal
            p.team__member-name Mary Baker
            p.team__member-title Creative Director
      .col-4
        a.team__member(href='#', target='_blank')
          .team__member-photo
            img(src='./assets/images/team-3.jpeg', alt='Team member')
            .photo-overlay
              svg.photo-overlay__icon
                use(href='./assets/svg/solid.svg#link')
          .team__personal
            p.team__member-name Mary Baker
            p.team__member-title Creative Director
      .col-4
        a.team__member(href='#', target='_blank')
          .team__member-photo
            img(src='./assets/images/team-4.jpeg', alt='Team member')
            .photo-overlay
              svg.photo-overlay__icon
                use(href='./assets/svg/solid.svg#link')
          .team__personal
            p.team__member-name Mary Baker
            p.team__member-title Creative Director
      .col-4
        a.team__member(href='#', target='_blank')
          .team__member-photo
            img(src='./assets/images/team-5.jpeg', alt='Team member')
            .photo-overlay
              svg.photo-overlay__icon
                use(href='./assets/svg/solid.svg#link')
          .team__personal
            p.team__member-name Mary Baker
            p.team__member-title Creative Director
      .col-4
        a.team__member(href='#', target='_blank')
          .team__member-photo
            img(src='./assets/images/team-6.jpeg', alt='Team member')
            .photo-overlay
              svg.photo-overlay__icon
                use(href='./assets/svg/solid.svg#link')
          .team__personal
            p.team__member-name Mary Baker
            p.team__member-title Creative Director
