#testimonials.testimonials-wrapper.section
  .testimonials.container
    h2
      span Testimonials
    .row.testimonials__items
      .col-12.col-md-6
        .testimonials__item
          p.testimonials__content
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis laboriosam aut ratione illum, ipsum voluptatibus. Quidem laboriosam iusto voluptatem, natus quod maxime.
          img.testimonials__pic(src='./assets/images/profile-pic1.jpg', alt='Testimonial photo')
          p.testimonials__author Jordan Munson
          p.testimonials__author-title UX Designer
      .col-12.col-md-6
        .testimonials__item
          p.testimonials__content
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis laboriosam aut ratione illum, ipsum voluptatibus. Quidem laboriosam iusto voluptatem, natus quod maxime.
          img.testimonials__pic(src='./assets/images/profile-pic2.jpg', alt='Testimonial photo')
          p.testimonials__author Jordan Munson
          p.testimonials__author-title UX Designer
      .col-12.col-md-6
        .testimonials__item
          p.testimonials__content
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis laboriosam aut ratione illum, ipsum voluptatibus. Quidem laboriosam iusto voluptatem, natus quod maxime.
          img.testimonials__pic(src='./assets/images/profile-pic3.jpg', alt='Testimonial photo')
          p.testimonials__author Jordan Munson
          p.testimonials__author-title UX Designer
      .col-12.col-md-6
        .testimonials__item
          p.testimonials__content
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis laboriosam aut ratione illum, ipsum voluptatibus. Quidem laboriosam iusto voluptatem, natus quod maxime.
          img.testimonials__pic(src='./assets/images/profile-pic4.jpg', alt='Testimonial photo')
          p.testimonials__author Jordan Munson
          p.testimonials__author-title UX Designer
      .col-12.col-md-6
        .testimonials__item
          p.testimonials__content
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis laboriosam aut ratione illum, ipsum voluptatibus. Quidem laboriosam iusto voluptatem, natus quod maxime.
          img.testimonials__pic(src='./assets/images/profile-pic5.jpg', alt='Testimonial photo')
          p.testimonials__author Jordan Munson
          p.testimonials__author-title UX Designer
