doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Demo
    link(href='styles/main.scss' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,700|Raleway:300,400,500,600,700&display=swap' rel='stylesheet')
    script(src='scripts/main.js' type='text/javascript')
  body
    include components/header.pug
    include components/hero.pug
    include components/intro.pug
    include components/service.pug
    include components/gallery.pug
    include components/pricing-table.pug
    include components/testimonials.pug
    include components/latest-blog.pug
    include components/team.pug
    include components/partners.pug
    include components/cta.pug
    include components/contact.pug
    include components/footer.pug
